body {
  font-family: "Robto";
  display: flex;

  margin: 0; /* Remove default margin */
  flex-direction: column;
}
.mainContainer {
  display: flex;
  flex-direction: column;
}

.headingContainer {
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 40px;
  color: #f9faf8; /* Set font color to white */
}
.headingLinks {
  margin-left: 400px;
}

.headingLinks a {
  color: #f9faf8;
  margin-left: 10px;
}
/*CSS for hero section*/
.heroSection {
  background: #1f2937;
  display: flex;
  color: #f9faf8; /* Set font color to white */
  flex-direction: row;
  align-items: center;
  flex-basis: 400px;
}
button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 10px 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  border-radius: 5px;
}
.logo {
  margin-left: 200px;
}
.heroSection {
  padding-left: 80px;
}

/*CSS for services section*/

.servicesSection {
  background-color: #f9faf8;
  flex-basis: 300px;
}
.servicesHeading {
  margin-left: 20px;
}
.serviceBoxes {
  background-color: #f9faf8;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.webDevelopment {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.webDevelopmentImage {
  background-color: #f9faf8;
  border: 2px groove blue;

  height: 200px;
  width: 150px; /* Adjust the width as needed */
}
.webDevelopmentText {
  display: block;
  text-align: center; /* Optional: Center-align the text */
  margin-top: 10px;
}
.webDesign {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.webDesignImage {
  background-color: #f9faf8;
  border: 2px groove blue;

  height: 200px;
  width: 150px; /* Adjust the width as needed */
}
.webDesignText {
  display: block;
  text-align: center; /* Optional: Center-align the text */
  margin-top: 10px;
}
.SEO {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.SEOImage {
  background-color: #f9faf8;
  border: 2px groove blue;
  height: 200px;
  width: 150px; /* Adjust the width as needed */
}
.SEOText {
  display: block;
  text-align: center; /* Optional: Center-align the text */
  margin-top: 10px;
}

.digitalMarketing {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.digitalMarketingImage {
  background-color: #f9faf8;
  border: 2px groove blue;
  height: 200px;
  width: 150px; /* Adjust the width as needed */
}
.digitalMarketingText {
  display: block;
  text-align: center; /* Optional: Center-align the text */
  margin-top: 10px;
}
/*Styling for testimonials section*/
.testimonialsSection {
  background-color: #e5e7eb;
  flex-basis: 200px;
}
.testimonialsSection h2 {
  font-size: 2em;
  margin-bottom: 20px;
  margin-left: 20px;
}
.quote {
  font-size: 1.5em;
  font-style: italic;
  margin-bottom: 10px;
  margin-left: 20px;
}

.quoteBy {
  font-size: 1em;
  margin-bottom: 20px;
  margin-left: 20px;
}

.quoteBy p::before {
  content: "- ";
}

.linkSection a {
  color: #000;
  text-decoration: none;
  font-size: 1em;
  margin-left: 20px;
}
.linkSection a:hover {
  text-decoration: underline;
}
/*Styling for call for action section*/
.callForActionSection {
  background-color: #f9faf8;
  display: flex;
  flex-basis: 50px;
  flex-direction: row;
}
.callForActionBox {
  display: flex;
  margin-top: 40px;
  margin-left: 80px;
  padding-top: 20px;
  background-color: #3882f6;
  color: #f9faf8;
  flex-direction: row;
  height: 150px;
  width: 850px;
  align-items: center;
  border-radius: 40px;
}
.actionText {
  margin-left: 80px;
}
.actionButton {
  margin-left: 200px;
}

footer {
  background-color: #1f2937;
  color: #f9faf8;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  margin-top: 40px;
  font-size: 10px;
}
